.git
.github
.cursor
**/.DS_Store
**/.idea
**/.vscode
**/node_modules
**/dist
ui/dist
ui/.angular
.env
.env.*
!.env.example
dump.txt
infra
*.md
docker-compose.yml
setup.sh
ormconfig.json
.dockerignore
.gitignore
