/node_modules
/.idea/*
/ui/.angular
/ui/node_modules
/ui/dist
.env
/dist
/ui/.idea/*
ui/.idea/modules.xml
.DS_Store
ui/.DS_Store

# Terraform
infra/.terraform/
infra/*.tfstate
infra/*.tfstate.*
infra/crash.log
infra/crash.*.log
infra/*.tfvars
!infra/terraform.tfvars.example
infra/override.tf
infra/override.tf.json
infra/*_override.tf
infra/*_override.tf.json
infra/.terraform.lock.hcl
