<nav>
  <div class="links">
    <div><button mat-button [routerLink]="['']">Home</button></div>
    <div>
      <button
        *ngIf="isUserAuthenticated"
        mat-button
        [routerLink]="['/gallery']"
      >
        Gallery
      </button>
    </div>
  </div>

  <div class="login-logout">
      <div>
          <app-token-counter></app-token-counter>
      </div>
    <button *ngIf="!isUserAuthenticated" mat-button [routerLink]="['/login']">
      Login
    </button>
      <user-component *ngIf="isUserAuthenticated"></user-component>
  </div>
</nav>
