nav {
    display: flex;
    justify-content: space-between;
    background-color: #e0edfa;
    padding: 4px;
    margin-bottom: 12px;
    
    .links {
        display: flex;
    }
}

.login-logout {

     display: flex;
    // flex-direction: column;
}