<mat-accordion class="example-headers-align" multi>
<!--    <mat-expansion-panel expanded>-->
<!--        <mat-expansion-panel-header>-->
<!--            <mat-panel-title> Zone JS / OnPush </mat-panel-title>-->
<!--            <mat-panel-description>-->
<!--                Behavior on disabling Zone JS-->
<!--            </mat-panel-description>-->
<!--        </mat-expansion-panel-header>-->
<!--       <debug-zone-js></debug-zone-js>-->
<!--    </mat-expansion-panel>-->
    <mat-expansion-panel expanded>
        <mat-expansion-panel-header>
            <mat-panel-title> Change Detection </mat-panel-title>
            <mat-panel-description>
                OnPush / Zone JS
            </mat-panel-description>
        </mat-expansion-panel-header>
<!--        <debug-aot-jit></debug-aot-jit>-->
    </mat-expansion-panel>
    <mat-expansion-panel expanded>
        <mat-expansion-panel-header>
            <mat-panel-title> Change Detection </mat-panel-title>
            <mat-panel-description>
                OnPush / Zone JS
            </mat-panel-description>
        </mat-expansion-panel-header>
        <debug-change-detection></debug-change-detection>
    </mat-expansion-panel>
</mat-accordion>