<ng-content></ng-content>
<!--<app-modal-->
<!--        [isOpen]="showModal"-->
<!--        [bodyTemplate]="modalBody"-->
<!--        [modalData]="{ user: selectedUser }">-->

<!--    <h2 slot="header">User Details</h2>-->

<!--    <div slot="footer">-->
<!--        <button (click)="showModal = false">Cancel</button>-->
<!--        <button (click)="saveUser()">Save</button>-->
<!--    </div>-->
<!--</app-modal>-->

<!--<ng-template #modalBody let-user="user">-->
<!--    <form>-->
<!--        <input [(ngModel)]="user.name" placeholder="Name">-->
<!--        <input [(ngModel)]="user.email" placeholder="Email">-->
<!--    </form>-->
<!--</ng-template>-->