<ng-content></ng-content><br>
<div *ngIf="!!isZoneJSActive">
    {{isZoneJSActive}}
    <br>
<!--    If counter value is updated automatically that means zone js automatically detected the async operation-->
</div>
<br><br><br>


Counter Value : {{counter}}<br>
<button mat-button (click)="incrementAsyncCounter()">Increment async counter</button><br>
<button mat-button (click)="incrementOutSideAngular()">Increment outside Angular</button><br>
<br>


Change detection in OnPush will occur only when <br>
1) <button mat-button (click)="incrementCounter()">Increment counter [Direct Event Fire]</button><br>
2) <button mat-button (click)="triggerChangeDetection()">Trigger Change detection</button><br>
3) A change in Input property will also trigger a CD cycle<br>
4) <button mat-button (click)="setFakeObservable()">Initialize observable [Render through async]</button><br>
5) <button mat-button (click)="tickApplicationRef()">Tick Application</button><br><br>
An observable emits : <div>{{ fakeObservable$ | async }}</div>