<!-- #docregion mat-menu-trigger-for -->
<button class="profile-picture" mat-button [matMenuTriggerFor]="menu">
    <img src="https://media.licdn.com/dms/image/v2/C5603AQH0CbAstMMBQA/profile-displayphoto-shrink_200_200/profile-displayphoto-shrink_200_200/0/1517628398010?e=2147483647&v=beta&t=t0ZC-zqRrixY9MZ1m03pKqQhMFDXEeQFKG-0-cU9hUA">
</button>
<!-- #enddocregion mat-menu-trigger-for -->
<mat-menu #menu="matMenu">
    <button *ngIf="isUserAuthenticated" mat-menu-item (click)="editUserDetails()">
        Edit Details
    </button>
    <button *ngIf="isUserAuthenticated" mat-menu-item (click)="logout()">
        Logout
    </button>
</mat-menu>