<!-- #docregion mat-menu-trigger-for -->
<button class="profile-picture" mat-button [matMenuTriggerFor]="menu">
    <img src="https://media.licdn.com/dms/image/v2/C5603AQH0CbAstMMBQA/profile-displayphoto-shrink_800_800/profile-displayphoto-shrink_800_800/0/1517628398012?e=1755734400&v=beta&t=bZLUs-CO56VS-7mhcL1vOZ4YzEmOi2GUmHofOFt52_8">
</button>
<!-- #enddocregion mat-menu-trigger-for -->
<mat-menu #menu="matMenu">
    <button *ngIf="isUserAuthenticated" mat-menu-item (click)="editUserDetails()">
        Edit Details
    </button>
    <button *ngIf="isUserAuthenticated" mat-menu-item (click)="logout()">
        Logout
    </button>
</mat-menu>